/* .my_container_div {
  background-color: papayawhip;
  border: 3px gray solid;
  border-radius: 25px;
  margin: 10px;
  padding: 20px;
} */

.header {
  height: 40px;
  width: 100%;
  background-image: linear-gradient(to right, rgb(0,128,128,0), rgb(0,128,128,1));
}

.footer {
  height: 40px;
  width: 100%;
  background-image: linear-gradient(to right, rgb(0,128,128,1), rgb(0,128,128,0));
}

.projects {
  width: 90%;
  border-collapse: collapse;
}
.projects td, .projects th {
  border: 1px solid #ddd;
  padding: 10px;
}

.projects tr:nth-child(even){background-color: #f2f2f2;}
.projects tr:hover {background-color: #ddd;}

.projects th{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: rgb(45, 128, 128);
  color: white;
}

p.fancy {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  text-align: left;
}

.resumetitles {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  text-align: left;
  background-color : papayawhip;
  color: black;

}
.resumecontent {
  background-color: rgba(0, 128, 128, 0.205);
  color: black;
  border-radius: 25px;
  padding-bottom: 5px;  

}
.resumesubtitle {
  background-color : rgba(0, 128, 128, 0.795);
  padding-left: 10px;
}

.topnav {
  background-color: teal;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
 background-color: black;
 color: white;
}

.topnav a.active {
  background-color: rgb(28, 97, 97);
}

.row {
  display: flex;
}
.column {
  flex: 24%;
  padding: 5px;
}
.wrappingContainer {
  background-color: white;
}

img.a {
  float: right;  
  display: flex;
  width: 33%;
}
.mediarow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.mediacolumn {
  flex:50%;
  padding: 0 4px;
}

.mediacolumn img {
  margin-top: 8px;
  vertical-align: middle;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: teal;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: grey;
}

.btn.active {
  background-color: red;
  color: white;
}

